*{
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
:root{
  --primary-color: #86b817;
  --secondary-colr: #36324b;
  --third: #737373;
}
button:hover{
  background-color: #93b548 !important;
  cursor: pointer;
}
body{
  display: grid;
}
.company-information-container{
  height: 45px;
  background-color: rgb(17, 15, 30);
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 45px;
  color: white;
  align-items: center;
  position: sticky;
  inset: 0 0;
}
.contacts , .socials{
  height: 40px;
  align-items: center;
}
.contacts{
  display: grid;
  width: fit-content;
  grid-template-columns: auto auto auto;
  gap: 1em;

}
.socials{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1em;
}
.socials button{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  overflow: hidden;
}
.socials button img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
header{
  height: 97px;
  width: 100%;
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  position:fixed;
  align-items: center;
  padding: 0 48px;
  background-color: rgba(255, 255, 255, .0);
  border-bottom: 1px rgba(255, 255, 255, .1) solid;
  box-sizing: border-box;
  z-index: 99;
  overflow: hidden;
}
.on-scroll-header{
  height: 70px;
  margin-top: 0;
  background-color: white !important;
  border: none;
a{
  color: black;
  padding: 27px 0;
}
a:hover{
  padding: 27px 0;
}
}
@keyframes topScroll{
  from{height: 70px;}
  to{height: 97px;}
}
@keyframes bottomScroll{
  from{height: 97px;}
  to{height: 70px;}
}
nav{
  height: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
}

a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 40px 0;
  position: relative;
}
a:nth-of-type(1){
  color: var(--primary-color) !important;
}
.home::after{
  content: "";
  height: 5px;
  width: 100%;
  border-radius: 50px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
a:hover{
  color: var(--primary-color);

}
a:hover::after{
  content: "";
  height: 5px;
  width: 100%;
  border-radius: 50px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: onHover .8s ease;
}
@keyframes onHover{
  0%{transform: scaleX(0);}
  100%{transform: scaleX(100%);}
}
.logo{
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  color: var(--primary-color);
  box-sizing: border-box;
  gap: 1em;
}
.logo h1, .logo .fa-map-marker-alt{
  font-size: 37px;
  font-weight: 800;
}

.login button{
  background-color: var(--primary-color);
  border-radius: 25px;
  padding: 11.5px 30px;
  border: none;
  font-weight: 600;
  color: white;
  transition: .1s;
}


.hero{
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(./img/bg-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.hero h1{
  font-size: 64px;
  height: 76px;
  margin-bottom: 16px;
}
.hero h2{
  font-size: 20px;
  margin-bottom: 24px;
}

.search-bar{
  background-color: white;
  width: 690px;
  display: flex;
  padding: 10px 10px 10px 30px;
  border-radius: 50px;
  overflow: hidden;
  align-items: center;
}
.search-bar input{
  height: 80%;
  border: none;
  flex-grow: 2;
  
}
.search-bar button{
  width: fit-content;
  border: none;
  border-radius: 50px;
  background-color: var(--primary-color);
  font-size: 1em;
  font-weight: 700;
  padding: 8px 24px;
  color: white;
}

/* __________________________________________________ */

.container-2, .container-3{
  margin: 25px 0;

}

.container-2{
  height: fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: 50% auto;
  gap: 2em;
  padding: 0 100px;
  border-color: blue;
}
.sub-container-2{
  display: flex;
  flex-direction: column;
}
.one{
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-colr);
  margin-bottom: 8px;
}
.two{
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--secondary-colr);
  margin-bottom: 24px;
}
.one h2, .two span{
  color: var(--primary-color);
}

.container-2 .image{
  background-image: url(./img/about.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.three{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 24px;
  gap: 1em;
  color: var(--third);
  font-weight: 300;
}

.flight{
  padding: 12px 0;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1em;
  font-size: 16px;
  color: var(--third);
  font-weight: 300;
  margin-bottom: 24px;
}
.flight h5 .fa-arrow-right{
  color: var(--primary-color);
}
.btn-container button{
  height: fit-content;
  width: fit-content;
  padding: 20px 40px;
  background-color: var(--primary-color);
  border: none;
  font-size: 18px;
  font-weight: 800;
  color: white;
}

/* _______________________________________________ */

.container-3{
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  padding: 20px 0;
}

.container-3 h2{
  color: var(--primary-color);
  font-weight: 700;
}
.container-3 h1{
  font-size: 40px;
  font-weight: 800;
  color: var(--secondary-colr);
}

.sub-container-3{

  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 2em;

}
.card{
  height: 300px;
  width: 240px;
  overflow: hidden;
  text-align: start;
  background-color: azure;
  box-shadow: black 0 0 20px -5px;

}
.img-container{
  height: 100px;
  width: 100%;
  font-size: 3em;
  color: var(--primary-color);
  display: flex;
  flex-direction: column-reverse;
}
.img-container i{
  margin: 10px;
  margin-bottom: 0;
}
.information-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 1em;
}
.description{
  color: var(--third);
  font-weight: 300
}
.card:hover{
  background-color: var(--primary-color);
  transition: .5s ease;

  .img-container, .information-container h2{
    color: white;
  transition: .1s ease;

  }
}
/* ________________________ */

.second{
  background-color: aliceblue;
}
.sub-container-4{
  margin: 0 100px;
  width: fit-content;
  display: grid;
  grid-template-columns: fit-content fit-content fit-content;
  grid-template-rows: fit-content fit-content;
  gap: 1em;
  justify-content: center;
}
.sub-container-4 .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.dest-2{
  width: 100%;
  grid-row: 2;
  grid-column: 1;
}
.dest-3{
  grid-row: 2;
  grid-column: 2;
  
}
.dest-4{
  grid-row: 1 / span 2;
  grid-column: 3;
}

.dest-1{
  grid-column: 1 / span 2;
}

input:focus{
  outline: none;
}


footer{
  height: fit-content;
  background-color: rgb(17, 15, 30);
  margin-top: 40px;
  padding: 30px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 80% 20%;
  color: white;
  gap: 2em;
}
.footer-container{
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 100px;
  gap: 1em;
  padding: 20px 0;
  border-bottom: solid 1px var(--third);
}
.company{
  display: flex;
  flex-direction: column;
  gap: 1em;

}
.company button{
  text-align: left;
  background: none;
  border: none;
  font-size: 16px;
  color: white;
  font-weight: 700;
}
.footer-contacts{
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: left;
}
.footer-contacts .contacts{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: left;
}
.footer-contacts .contacts h5{
  width: 100%;
  text-align: left;
}
.gallery-container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: .5em;
}
.gallery-container img{
  height: 50px;
  width: 80px;
  border: solid white 5px;
}
.newsLetter{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.newsLetter form{
  height: 45px;
  background-color: white;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
}
.newsLetter form button{
  width: max-content;
  background-color: var(--primary-color);
  font-weight: 700;
  padding: 5px 10px;
  color: white;
  border: none;
}
.other{
  height: fit-content;
}
.rights{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px;
}
.rights h5{
  font-size: 16px;
  font-weight: 400;
}
.rights button{
  font-size: 16px;
  background: none;
  color: white;
  padding: 0 10px;
  border: none;
  border-right: solid 1px var(--third);
}
.rights button:last-of-type{
  border: none;
}
